@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

.browse {
  height: 70vh;
  width: 59vw;
  min-width: 700px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.browse_icon {
  fill: rgb(0, 52, 89);
  height: 60px;
  width: 60px;
}

.browse h1 {
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  color: #0096ff;
}

@media screen and (max-width: 700px) {
  .browse {
    width: 95%;
    min-width: 0px;
  }
  .browse h1 {
    font-size: 1.3rem;
  }
}
